@model ICollection<Ecommerce.Models.Category>



<h1>Category List</h1>

<div class="row ">
    <a id="Add" href="/Category/create" class="btn btn-primary btn-row"><i class=" fa fa-plus-square"></i>  Create Category</a>
</div>
<partial name="~/Views/Shared/Category/_CategoryList.cshtml" model="Model" />




