@model ICollection<Ecommerce.Models.Category>


<style>
    .breadcrumb > li + li:before {
        content: ">";
    }

    .breadcrumb > .active {
        color: #000000;
    }
</style>
<ol class="breadcrumb">
    <li><a href="~/Product/_cardView">Home</a></li>
    <li ><a href="~/Product/Index">Product</a></li>
    <li class="active"><a href="~/Category/Index">Category</a></li>
</ol>
<h1>Category List</h1>

<div class="row ">
    <a id="Add" href="/Category/create" class="btn btn-primary btn-row"><i class=" fa fa-plus-square"></i>  Create Category</a>
</div>
<partial name="~/Views/Shared/Category/_CategoryList.cshtml" model="Model" />




