
@{
    ViewData["Title"] = "Create";
}
<style>
    .breadcrumb > li + li:before {
        content: ">";
    }

    .breadcrumb > .active {
        color: #000000;
    }
</style>
<ol class="breadcrumb">
    <li><a href="~/Product/_cardView">Home</a></li>
    <li><a href="~/Product/Index">Product</a></li>
    <li class="active"><a href="~/Comments/Index">Comments</a></li>
</ol>
<h2>Create</h2>

