@model ICollection<Ecommerce.Models.Order>


<style>
    .breadcrumb > li + li:before {
        content: ">";
    }

    .breadcrumb > .active {
        color: #000000;
    }
</style>
<ol class="breadcrumb">
    <li><a href="~/Product/_cardView">Home</a></li>
    <li><a href="~/Product/Index">Product</a></li>
    <li class="active"><a href="~/Order/Index">Order</a></li>
</ol>


<h1>Order List</h1>

<div class="row ">
    <a id="Add" href="/Order/create" class="btn btn-primary btn-row"><i class=" fa fa-plus-square"></i>  Create Order</a>
</div>
<partial name="~/Views/Shared/Order/_OrderList.cshtml" model="Model" />