/* <-------Customize by Biplob---------------starts----------------------> */
body {
  /background-color: #1D1F20;
  padding-top: 40px;
  font-family: sans-serif;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

.zoom-effect-container {
    float: left;
    position: relative;
    width: 640px;
    height: 360px;
    margin: 0 auto;
    overflow: hidden;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  
}

.card img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.zoom-effect-container:hover .card img {
  -webkit-transform: scale(1.20);
  transform: scale(1.20);
}

/* a{ */
  /* display: block; */
  /* text-align:center; */
  /* margin: 0 auto; */
  /* width: 100%; */
  /* color: #aaa; */
/* } */

/* <----------------Ends-----------------------------------> */