.zoom-effect-container {
    float: right;
    position: relative;
    overflow: hidden;
}
.card img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.zoom-effect-container:hover .card img {
  -webkit-transform: scale(1.20);
  transform: scale(1.20);
}
