@model Ecommerce.Models.RazorViewModels.Size.SizeVM
@{
    ViewData["Title"] = "Edit";
}

<style>
    .breadcrumb > li + li:before {
        content: ">";
    }

    .breadcrumb > .active {
        color: #000000;
    }
</style>
<ol class="breadcrumb">
    <li><a href="~/Product/_cardView">Home</a></li>
    <li><a href="~/Product/Index">Product</a></li>
    <li><a href="~/ProductVariants/Index">ProductVariants</a></li>
    <li class="active"><a href="~/Size/Index">Size</a></li>

</ol>
<h2>Edit</h2>

<h4>Size</h4>
<hr />
<form asp-action="Edit Size">
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="Code" class="control-label"></label>
            <input asp-for="Code" class="form-control" />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <div class="form-group col-md-12">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>